<h1>Deal overview</h1>
<mat-card *ngFor="let deals of allDeals" class="deal-card mt-32">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="dealMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #dealMenu="matMenu">
        <button  (click)="openEditDealDialog(deals.dealId)" mat-menu-item>Edit</button>
    </mat-menu>
    <mat-card-content>
        <h2>{{ deals.topic }}</h2>
        <div class="deal-person-details">
            <div>
                <span>Name:</span><br>
                <span>E-mail:</span><br>
                <span>Amount:</span>
            </div>
            <div>
                <span>{{ deals.user.firstName }} {{ deals.user.lastName }}</span><br>
                <span>{{ deals.user.email }}</span><br>
                <span>{{ deals.amount }}€</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>



<button (click)="openAddDealDialog()" matTooltip="Add Deal" matTooltipPosition="above" class="add-deals-btn" mat-fab
    color="primary">
    <mat-icon>add</mat-icon>
</button>