.add-deals-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.deal-card {
    width: 300px;
}

.deal-person-details {
    display: flex;
    gap: 32px;
    font-weight: 500;
}

.deals-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}