<h1>Deal overview</h1>
<mat-card class="deal-card">
    <mat-card-content>
        <h2>Software Paket A</h2>
        <div class="deal-person-details">
            <span>Name:</span><br>
            <span>E-mail:</span><br>
            <span>Amount:</span>
        </div>
        <div>
            <span></span><br>
            <span></span><br>
            <span></span>
        </div>
    </mat-card-content>
</mat-card>



<button (click)="openAddDealDialog()" matTooltip="Add Deal" matTooltipPosition="above" class="add-deals-btn" mat-fab
    color="primary">
    <mat-icon>add</mat-icon>
</button>