<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>
        <tr>
            <td>Shawn Kastner</td>
            <td>Shawn.kastner@icloud.com</td>
            <td>Bamberg</td>
        </tr>
        <tr>
            <td>Shawn Kastner</td>
            <td>Shawn.kastner@icloud.com</td>
            <td>Bamberg</td>
        </tr>
    </table>
</mat-card>

<button (click)="openDialog()" matTooltip="Add User" matTooltipPosition="above" class="add-user-btn" mat-fab
    color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
</button>